body{
	color: #34495e;
}

.jumbotron {
	background-image: url("../img/landscape.jpg");
	background-size: cover;
}

#skill-list {
     margin-left: 50px;
}

/*Navigation*/

#navBar {
	font-size: 1.7em;
	position: relative;
	z-index: 4;
	margin-right: 3em;
}

#navBar > a {
	color: #F2F2F2;
	padding: 1.2em;
	text-decoration: none;
	float: right;
	font-family: 'Cantarell', sans-serif;
}

#navBar > a:hover {
	color: #B6B5B8;
	transition: color 0.5s ease;
}

/*Typography*/
h1, h2, h3 {
	font-family: 'Cantarell', sans-serif;
}

.intro p {
     font-family: 'Cantarell', sans-serif;
     font-size: 3em;
     font-weight: 100;
     -webkit-margin-before: 0;
}

p, li {
	font-family: Georgia, Cambria,Georgia, serif;
}

.skills h3 {
	text-align: center;
    text-transform: uppercase;
    background-color: #5AD4C2;
    color: #FFF;
    padding: 10px 0 10px 0;
}

/*Contact Page*/

.overlay {
	background-color: rgba(242, 242, 240, 0.25);
	height: 100vh;
	width: 100%;
    position: fixed;
    margin: 0 auto;
}

.contactInfo {
	text-align: center;
	margin: 0 auto;
	padding-top: 16em;
	color: #F2F2F2;
	background-image: url("sneakers.jpg");
	background-size: cover;
	height: 100vh;
}

.contactInfo > p {
	width: 60%;
	margin: 0 auto;
	padding: 25px;
	font-family: Baskerville,Baskerville Old Face,Hoefler Text,Garamond,Times New Roman,serif;
	border: double #F2F2F2 5px;
	font-size: 2em;
	line-height: 35px;
}

.digits {
	margin-top: 1.5em;
	font-family: 'Cantarell', sans-serif;
	font-size: 1.5em;
}